.ios, .md {
    dishes-modal {
           
          img {
              display: block;
              margin-left: auto;
              margin-right: auto;
          }

          .block {
            background-color: #fe3233;
            padding: 5%;
          }

          .disabled-block {
            background-color: blue;
            padding: 5%;
          }
          
          ion-card {
            position: relative;
            text-align: center;
          }

          .toolbar-title-md {
            padding: 0 12px;
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
        }
        
          .toolbar-title-ios {
            text-align: center;
            font-size: 1.6rem;
            font-weight: 600;
            color: #fff;
            pointer-events: auto;
        }

        .item.item-trns {
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
            color: white; 
        }

        .text-input::-moz-placeholder {
            color: white;
        }

        .text-input:-ms-input-placeholder {
            color: white;
        }

        .text-input::-webkit-input-placeholder {
            text-indent: 0;
            color: white;
        }

      }
  }