<ion-header>
    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button icon-only (click)="closeMenuModal()">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
      
      <img alt="logo" src="../assets/imgs/main-logo.png" style="width:50%"/>
    </ion-navbar>
  </ion-header>
  
<ion-content scrollbar-y-auto>

  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content  pullingText="Update dishes ..."></ion-refresher-content>
  </ion-refresher> -->

  <p padding *ngIf="showNoDishesWarning" class="error">Oh dear .. something went wrong while collecting the dishes! Please try again.</p>
  <ion-card [ngClass]="{'disabled-block':dish.active === false, 'block':dish.active === true }" *ngFor="let dish of dishes; let idx = index">
    <ion-title (click)="openInputField(idx)" *ngIf="highLighted !== idx">{{dish.name}}</ion-title>
    <ion-item *ngIf="highLighted === idx" class="item item-trns"> 
        <ion-input autofocus (ionChange)="checkInput($event, dish)" [(ngModel)]="enteredDish" placeholder="{{dish.name}}" clearInput></ion-input> 
        <ion-icon *ngIf="showCheckmark" (click)="addDish(dish)" name="checkmark" item-right></ion-icon>
    </ion-item>
  </ion-card> 