.ios, .md {
  page-home {
         
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .big {
            font-size: 1.7rem;
            font-weight: 700; 
        }

        .intro {
            padding-top: 5vh; 
        }

        ion-icon {
            font-size: bold; 
        }
    }
}