.ios, .md {
  page-home {
        ion-slides {
            display: block;
            width: 100%;
            height: 100%; 
            background: #fee610;
        }

        p {
            font-size: 1.5rem; 
        }
    }
}