.ios, .md {
    page-action {

        ion-content {
            .splash-bg {
                position: relative;
                background-color: color($colors, primary);
                background-size: cover;
                height: 25%;
                z-index: 1;
                background-repeat: repeat-x;
            }
    
            .main-logo-box {
              margin: 0 auto;
              padding-top: 60px;
              position: relative;
              z-index: 2;
              width: 250px;
              height: 200px;
            }
            
            .main-logo {
                // margin-left: 25px;
                // background: url('../assets/imgs/main-logo.png') repeat transparent;
                // margin: 0 auto;
                background: url('../assets/imgs/makanapa-plain-logo.png') no-repeat transparent;
                background-size: 100%;
                width: 250px;
                height: 75px;
                // width: 200px;
                // height: 200px;
            }
    
        }
           
          img {
              display: block;
              margin-left: auto;
              margin-right: auto;
          }

          .error {
              color: red;

          }

          .center {
              text-align: center;
          }

          .block {
            background-color: #fe3233;
            padding: 5%;
          }

          .disabled-block {
            background-color: #c87c7c;
            padding: 5%;
          }
          
          ion-card {
            position: relative;
            text-align: center;
          }

          .toolbar-title-md {
            padding: 0 12px;
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
        }
        
          .toolbar-title-ios {
            text-align: center;
            font-size: 1.6rem;
            font-weight: 600;
            color: #fff;
            pointer-events: auto;
        }

        .item.item-trns {
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
            color: #fff; 
        }

        .text-input::-moz-placeholder {
            color: #d1c55d;
        }

        .text-input:-ms-input-placeholder {
            color: #d1c55d;
        }

        .text-input::-webkit-input-placeholder {
            text-indent: 0;
            color: #d1c55d;
        }

        ion-footer {
            ion-icon {
                font-size: 22px;
                color: color($colors, secondary);
              } 
        }

      }
  }