.ios, .md {
    page-welcome {
        ion-content {
            background: color($colors, primary);
        }

        p, h2 {
            color: #fff; 
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20vh;
        }

    }
}