.ios, .md {
    page-welcome {
        ion-content {
            background-color: #319600; 
        }

        p, h2 {
            color: #fff; 
        }

        .logo {
            margin-top: 37vh;
            display: block; 
        }

        .logo #bottom {
            font-weight: 700; 
            font-size: 3.1rem; 
        }

        .logo #top {
            font-weight: 300; 
            font-size: 2.7rem; 
        }
    }
}